@using Module.Common.WebUI.Models
@using Module.Order.Business.Models
@{
    ViewData["Title"] = "Личный кабинет";
    ViewData["ReportTitle"] = "Счета";
}

<div class="container-fluid my-4">
    <partial name="_TitleDescriptionPartialWide" model="@(new TitleDescriptionViewModel(ViewData["Title"].ToString(), ""))"/>
    <div class="row">
        <div class="col-12 col-md-5 col-lg-3-larger px-1 px-xl-5 mx-0 ml-lg-5 mb-3">
            @await Component.InvokeAsync("OrdersSummary")
        </div>
        <div class="col-12 col-md-7 col-lg-8">
            <div class="row px-3">
                <div class="text-uppercase text-center text-md-left text-lg-left text-xl-left mr-auto">
                    <p class="header-font h1 text-uppercase">@ViewData["ReportTitle"]</p>
                </div>
            </div>
            @if (ViewBag.InvoicesList != null && ViewBag.InvoicesList.Count > 0) {
                <div>
                    @foreach (InvoiceDTO invoice in ViewBag.InvoicesList) {
                        <div class="card rounded-0 my-3">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-auto mr-auto font-weight-bold">Счет на оплату №@invoice.InvoiceNum от @invoice.CreateDate.ToString("dd.MM.yyyy")</div>
                                    @if (invoice.WasPayed) {
                                        <div class="font-weight-bold text-success mr-3" style="float: right;">
                                            оплачен
                                        </div>
                                        <div class="clearfix"></div>
                                    }
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-auto mr-auto">
                                        <p class="m-0">Плательщик: @invoice.InvoiceClientTitle</p>
                                        <p class="m-0">Предоплата: @invoice.PrePayFormated</p>
                                        <p class="m-0">К оплате: @invoice.TotalPayFormated</p>
                                    </div>
                                    <div class="col-auto">
                                        <a asp-action="InvoiceDetails" asp-controller="Personal" asp-route-id="@invoice.Id" class="btn btn-basic btn-main btn-sm px-3">Подробнее</a>
                                        @if (invoice.HasAttachedFile) {
                                            <a asp-action="InvoiceDownload" asp-controller="Personal" asp-route-id="@invoice.Id" class="btn btn-basic btn-main btn-sm px-3">Скачать</a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            } else {
                    <div class="row text-center justify-content-center main-font h1 pt-5">По вашему запросу ничего не найдено</div>
            }
        </div>
    </div>
</div>