@model IEnumerable<Module.Media.Business.DTOs.DynamicPageDTO>
@foreach (var dynamicPage in Model) {
    <div class="row my-2 mb-4">
        <div class="col-12">
            <div class="container">
                <div class="row">
                    <div class="col-12 mb-2">
                        @if (!string.IsNullOrEmpty(dynamicPage.TitleIconPath)) {
                            <div class="two-halfs-block">
                                <div class="right-wrapper icon">
                                    <picture>
                                        <source srcset="@dynamicPage.TitleIconPath?height=50&format=webp" type="image/webp">
                                        <img srcset="@dynamicPage.TitleIconPath?height=50" height="50" />
                                    </picture>
                                </div>
                                <div class="left-wrapper justify-content-start px-2">
                                    <h1 id="@dynamicPage.GetActionName()" class="header-font h1 p-2">@dynamicPage.Title</h1>
                                </div>
                            </div>
                        } else {
                            @if (dynamicPage.GetActionName().Equals(ViewData["DynamicAction"])) {
                                <h1 id="@dynamicPage.GetActionName()" class="header-font h1 py-2 m-0">@dynamicPage.Title</h1>
                            } else {
                                <h2 id="@dynamicPage.GetActionName()" class="header-font h1 py-2 m-0">@dynamicPage.Title</h2>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        @Html.Raw(dynamicPage.Body)
    </div>
}