@model IEnumerable<Module.Media.Business.DTOs.GalleryItemDTO>
<!-- Krista story -->
<div class="container-fluid px-2 px-xl-3">
    <partial name="_TitleDescriptionPartial" model="@(new TitleDescriptionViewModel("Krista Stories", ViewBag.GalleryDesc?.ToString(), Url.Action("Index", "Gallery")))" />
    <div class="row row-cols-2 row-cols-xl-4 pt-2 mx-0">
        @foreach (var item in Model)
        {
            <div class="col mb-2 px-2">
                <a href="@item.Link" class="d-block" target="_blank">
                    <div class="card card-ovl border-0 rounded-1">
                        <div class="image-fix-height-wrapper">
                            <picture class="card-img lazy image rounded-1">
                                <source srcset="@item.ImagePath?width=480&format=webp" type="image/webp">
                                <img class="card-img lazy image rounded-1" data-src="@item.ImagePath?width=480" alt="@item.Title" />
                            </picture>
                        </div>  
                        <div class="card-img-overlay h-100 p-4 overlay overlay-transparent">
                            <div class="overlay-bg rounded-1"></div>
                            <div class="position-relative header-font h3 card-text text-white text-overflow text-uppercase">
                                @Html.Raw(item.Description)
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
    <div class="row my-3 pt-2">
        <div class="col text-center">
            <a asp-action="Index" asp-controller="Gallery" class="btn btn-basic btn-main-gradient">Смотреть все фотографии</a>
        </div>
    </div>
</div>
<!-- Dress story -->